.flex-group{
    display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}
.noticias_individuales{
    width: calc(33.33% - 20px);
    text-align: center;
    border: 2px solid #CCCCCC;
    margin: 0px 10px 10px 10px;
}

.noticias_individuales p {
    font-size: 1.7em;
}

.noticias_individuales img{
    border-radius: 100px;
}

.noticias_individuales > .noticias_texto{
        background-color: aliceblue;
}

.noticias_individuales > .noticias_texto p {
    font-size: 1.4em;
}

.buscador{
    width: 50%;
    margin-bottom: 10px;
}

.buscador input[type="text"]{
    width: 80%;
}

.buscador input[type="button"]{
    width: 15%;
    border-style: none;
}

@media screen and (max-width: 767px){
    .noticias_individuales{
        width: calc(100% - 20px);
    }
}